.container {
	width: 25%;
	height: 75vh;
	padding: 1rem 0.5rem;
	overflow: auto;
}

.header {
	color: var(--cuaternaryColor);
	text-align: center;
}

.text {
	margin: 10px 0;
	color: var(--cuaternaryColor);
	text-align: center;
}

@media (max-width: 800px) {
	.container {
		display: none;
	}
}
