.container {
	width:25%;
	padding: 1rem 0;
}

.header {
	color: var(--cuaternaryColor);
	text-align: center;
}

.text {
	margin: 10px 0;
	color: var(--cuaternaryColor);
	text-align: center;
}

@media (max-width: 800px) {
	.container {
		display: none;
	}
}
