.container {
	width: 75%;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
	overflow-y: auto;
}


.text {
	color: var(--cuaternaryColor);
}
