.card {
	width: 250px;
	cursor: pointer;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card:hover {
	transform: scale(0.9, 0.9);
}

.image {
	width: 100%;
	text-align: center;
	position: relative;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: var(--cuaternaryColor);
}

.icon {
	position: absolute;
	top: 30px;
}
