.card {
	width: 250px;
	cursor: pointer;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card:hover {
	transform: scale(0.9, 0.9);
}

.image {
	width: 100%;
	text-align: center;
	position: relative;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: var(--cuaternaryColor);
}

.icon {
	position: absolute;
	left: 30px;
	top: 5px;
	background-color: var(--terciaryColor);
	padding: 4px;
	border-radius: 50%;
	line-height: 10px;
}

.icon:hover{
	opacity: 0.8;
	cursor: pointer;
	transform: scale(1.1);
}
